# String Based Assignment Problem

### Write a program to reverse a string.

In [1]:
s=input()
rev=s[::-1]
print(rev)

pwskills
sllikswp

### Check if a string is a palindrome.

In [5]:
string=input()
rev_string=string[::-1]
if string==rev_string:
    print("String is Palindrome")
else:
    print("String is not Palindrome")

racecar
String is Palindrome

### Convert a string to uppercase.

In [8]:
s=input()
s.upper()

data science

'DATA SCIENCE'

### Convert a string to lowercase.

In [10]:
s=input()
s.lower()

PYTHON

'python'

### Count the number of vowels in a string.

In [1]:
s="pwskills"
count=0
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count=count+1
print("count of vowels : ",count)

count of vowels :  1

### Count the number of consonants in a string.

In [6]:
s="pwskills"
count=0
for i in s:
    if i!='a' and i!='e' and i!='i' and i!='o' and i!='u':
        count=count+1
print("count of consonants : ",count)
len(s)

count of consonants :  7

8

### Remove all whitespaces from a string.

In [3]:
s=input()
s_space=s.strip()
s_space

         pwskills

'pwskills'

###  Find the length of a string without using the `len()` function.

In [23]:
s="pwskills"
count=0
for i in s:
    count=count+1
print(count)

8

### Check if a string contains a specific word.

In [25]:
s="I study in pwskills"
if 'study' in s:
    print(True)
else:
    print(False)

True

### Replace a word in a string with another word.

In [1]:
s="Robert was a good king."
s1=s.replace("Robert","David")
s1

'David was a good king.'

### Count the occurrences of a word in a string.

In [3]:
s="Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering."
s1=s.count("leads")
s1

4

### Find the first occurrence of a word in a string.

In [5]:
s="Ask not what your country can do for you; ask what you can do for your country"
s1=s.find("country")
s1

18

### Find the last occurrence of a word in a string.

In [8]:
s="Ask not what your country can do for you; ask what you can do for your country"
s1=s.find("country",19)
s1

71

### Split a string into a list of words.

In [9]:
s=input()
s1=s.split()
s1

I participate in competition

['I', 'participate', 'in', 'competition']

### Join a list of words into a string.

In [24]:
l=['I', 'participate', 'in', 'competition']
s1=' '.join(l)
s1

'I participate in competition'

### Convert a string where words are separated by spaces to one where words are separated by underscores.

### Check if a string starts with a specific word or phrase.

In [10]:
s="I study data science"
print(s.startswith("I"))

True

### Check if a string ends with a specific word or phrase.

In [12]:
s="I study data science"
print(s.endswith("pwskills"))

False

### Convert a string to title case (e.g., "hello world" to "Hello World").

In [14]:
s=input()
s1=s.title()
s1

hello world

'Hello World'

### Find the longest word in a string.

In [68]:
s="I want to study in english"
a=s.split()
longest_word= max(a,key=len)
s1= s.index(longest_word)
print(f"longest word is {longest_word} and position is {s1}")

longest word is english and position is 19

### Find the shortest word in a string.

In [82]:
s="I want to study in english"
a=s.split()
shortest_word= min(a,key=len)
s1= s.index(shortest_word)
print(f"shortest word is {shortest_word} and position is {s1}")

shortest word is I and position is 0

###  Reverse the order of words in a string.

In [85]:
s="Tongue tied and twisted just an earth bound misfit I"
s1=s.split()
s2=s1[::-1]
print(' '.join(s2))

I misfit bound earth an just twisted and tied Tongue

### Check if a string is alphanumeric.

In [88]:
s="pwskills"
s1=s.isalnum()
print(s1)

True

### Extract all digits from a string.

In [4]:
s="the 3 sky 4 is 5 blue 6 7 8"
s1=""
for i in s:
    if i.isdigit():
        s1=s1+i
print(s1)

345678

### Extract all alphabets from a string.

In [6]:
s="the 3 sky 4 is 5 blue 6 7 8"
s1=""
for i in s:
    if i.isalpha():
        s1=s1+i
print(s1)

theskyisblue

### Count the number of uppercase letters in a string.

In [7]:
s="PWskillS"
count=0
for i in s:
    if i.isupper():
        count=count+1
print("uppercase letter :",count)

uppercase letter : 3

### Count the number of lowercase letters in a string.

In [8]:
s="PWskillS"
count=0
for i in s:
    if i.islower():
        count=count+1
print("lowercase letter :",count)

lowercase letter : 5

### Swap the case of each character in a string.

In [9]:
s="PWskillS"
s1=s.swapcase()
s1

'pwSKILLs'

### Remove a specific word from a string.

In [20]:
s=input()
word=input()
s1=s.split()
s1.remove(word)
print(' '.join(s1))

I learn data science
science
I learn data

In [25]:
s="I learn data science"
s1=s.replace('data','')
s1

'I learn  science'

###  Check if a string is a valid email address.

In [51]:
s="abc@gmail.com"
print(s[0].isalpha() and s.endswith("@gmail.com"))

True

### Extract the username from an email address string.

In [43]:
s="abc@gmail.com"
s1=s.split('@')
username=s1[0]
print(username)

abc

### Extract the domain name from an email address string.

In [44]:
s="abc@gmail.com"
s1=s.split('@')
domain_name=s1[1]
print(domain_name)

gmail.com

### Replace multiple spaces in a string with a single space.

In [66]:
s="     p w     s k i l l     s      "
s1="".join(s.split())
s1

'pwskills'

### Check if a string is a valid URL.

In [2]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import validators
valid=validators.url('https://www.greeksforgeek.com')
if valid==True:
    print("Url is valid")
else:
    print("Invalid url")

Url is valid

### Extract the protocol (http or https) from a URL string.

In [4]:
s="https://www.greeksforgeek.com"
s1=s.split(":")
print(s1[0])

https

### Find the frequency of each character in a string.

In [12]:
s="parallelogram"
for i in s:
    s1=s.count(i)
    print(str(i),str(s1))

p 1
a 3
r 2
a 3
l 3
l 3
e 1
l 3
o 1
g 1
r 2
a 3
m 1

### Remove all punctuation from a string.

In [18]:
s="yello , life!"
for i in s:
    if i.isalnum():
        print(i,end="")

yellolife

### Check if a string contains only digits.

In [1]:
my_string = "12345"
if my_string.isdigit():
    print("String contains only digits")
else:
    print("String contains non-digit characters")

String contains only digits

### Check if a string contains only alphabets.

In [2]:
my_string = "abcXYZ"
if my_string.isalpha():
    print("String contains only alphabetic characters")
else:
    print("String contains non-alphabetic characters")

String contains only alphabetic characters

### Convert a string to a list of characters.

In [3]:
my_string = "Hello, World!"
char_list = []

for char in my_string:
    char_list.append(char)

print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

###  Check if two strings are anagrams.

In [4]:
def are_anagrams(str1, str2):
    # Remove spaces and convert both strings to lowercase 
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the lengths of the two strings are equal
    if len(str1) != len(str2):
        return False

    # Create dictionaries to store character frequencies
    char_count1 = {}
    char_count2 = {}

    # Count character frequencies in the first string
    for char in str1:
        if char in char_count1:
            char_count1[char] += 1
        else:
            char_count1[char] = 1

    # Count character frequencies in the second string
    for char in str2:
        if char in char_count2:
            char_count2[char] += 1
        else:
            char_count2[char] = 1

    # Compare the two dictionaries
    return char_count1 == char_count2
str1 = "listen"
str2 = "silent"
if are_anagrams(str1, str2):
    print(f"'{str1}' and '{str2}' are anagrams.")
else:
    print(f"'{str1}' and '{str2}' are not anagrams.")

'listen' and 'silent' are anagrams.

### Encode a string using a Caesar cipher.

In [5]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""
    
    for char in text:
        if char.isalpha():  # Check if the character is alphabetic
            is_upper = char.isupper()  # Check if the character is uppercase
            
            # Shift the character while maintaining its case
            char = chr(((ord(char) - ord('A' if is_upper else 'a') + shift) % 26) + ord('A' if is_upper else 'a'))
        
        encrypted_text += char
    
    return encrypted_text

# Example usage:
plaintext = "Hello, World!"
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_amount)
print("Encrypted:", encrypted_text)

Encrypted: Khoor, Zruog!

### Decode a Caesar cipher encoded string.

In [7]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""
    
    for char in encrypted_text:
        if char.isalpha():  # Check if the character is alphabetic
            is_upper = char.isupper()  # Check if the character is uppercase
            
            # Reverse the shift to decrypt the character while maintaining its case
            char = chr(((ord(char) - ord('A' if is_upper else 'a') - shift) % 26) + ord('A' if is_upper else 'a'))
        
        decrypted_text += char
    
    return decrypted_text

# Example usage:
encrypted_text = "Khoor, Zruog!"
shift_amount = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_amount)
print("Decrypted:", decrypted_text)

Decrypted: Hello, World!

### Find the most frequent word in a string.

In [8]:
from collections import Counter
import re

def most_frequent_word(text):
    # Tokenize the text into words (split by whitespace and remove punctuation)
    words = re.findall(r'\w+', text.lower())
    
    # Count the frequency of each word using Counter
    word_count = Counter(words)
    
    # Find the most common word and its frequency
    most_common_word, frequency = word_count.most_common(1)[0]
    
    return most_common_word, frequency

# Example usage:
input_text = "This is a sample text. This text contains some sample words."
most_common, frequency = most_frequent_word(input_text)
print(f"The most frequent word is '{most_common}' with a frequency of {frequency}.")

The most frequent word is 'this' with a frequency of 2.

### Find all unique words in a string.

In [9]:
import re

def unique_words(text):
    # Tokenize the text into words (split by whitespace and remove punctuation)
    words = re.findall(r'\w+', text.lower())
    
    # Use a set to store unique words
    unique_word_set = set(words)
    
    return unique_word_set

# Example usage:
input_text = "This is a sample text. This text contains some sample words."
unique_words_set = unique_words(input_text)
print("Unique words:", unique_words_set)

Unique words: {'sample', 'contains', 'text', 'words', 'a', 'is', 'this', 'some'}

### Count the number of syllables in a string.

In [11]:
import nltk

# Download the necessary NLTK data (run this once)
nltk.download('cmudict')

from nltk.corpus import cmudict

# Create a function to count syllables in a word
def count_syllables(word):
    d = cmudict.dict()
    if word.lower() in d:
        return max([len(list(y for y in x if y[-1].isdigit())) for x in d[word.lower()]])
    else:
        # If the word is not found in the CMU Pronouncing Dictionary, you can use a simple rule-based estimate
        # This is a basic estimate and may not be accurate for all words
        return max(1, len([char for char in word.lower() if char in 'aeiou']))

# Create a function to count syllables in a string
def count_syllables_in_string(text):
    words = text.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

# Example usage:
input_text = "Hello, World! This is an example sentence."
syllable_count = count_syllables_in_string(input_text)
print("Total syllables:", syllable_count)

[nltk_data] Downloading package cmudict to
[nltk_data]     C:\Users\sayal\AppData\Roaming\nltk_data...
[nltk_data]   Package cmudict is already up-to-date!

Total syllables: 12

### Check if a string contains any special characters.

In [12]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\|\/]'
    
    # Use re.search() to find a match in the input string
    match = re.search(pattern, input_string)
    
    # If a match is found, return True (string contains special characters)
    return match is not None

# Example usage:
input_string = "Hello, World!"
if contains_special_characters(input_string):
    print("String contains special characters")
else:
    print("String does not contain special characters")

String contains special characters

### Remove the nth word from a string.

In [13]:
def remove_nth_word(input_string, n):
    # Tokenize the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word
        del words[n - 1]

        # Reconstruct the string without the removed word
        result_string = ' '.join(words)
        return result_string
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to test removing words."
n = 4  # Replace with the desired word position to remove
result = remove_nth_word(input_string, n)
print("Result:", result)

Result: This is a sentence to test removing words.

### Insert a word at the nth position in a string.

In [14]:
def insert_word_at_nth_position(input_string, n, new_word):
    # Tokenize the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 0 and n <= len(words):
        # Insert the new word at the nth position
        words.insert(n, new_word)

        # Reconstruct the string with the inserted word
        result_string = ' '.join(words)
        return result_string
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to test inserting words."
n = 3  # Replace with the desired word position to insert
new_word = "new_word"  # Replace with the word you want to insert
result = insert_word_at_nth_position(input_string, n, new_word)
print("Result:", result)

Result: This is a new_word sample sentence to test inserting words.

### Convert a CSV string to a list of lists.

In [15]:
import csv
from io import StringIO

csv_string = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago
"""

# Create a StringIO object to simulate a file-like object
csv_file = StringIO(csv_string)

# Initialize a CSV reader
csv_reader = csv.reader(csv_file)

# Convert CSV data to a list of lists
csv_data = [row for row in csv_reader]

# Close the StringIO object
csv_file.close()

# Print the resulting list of lists
for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'Chicago']

# List

### Create a list with integers from 1 to 10.

In [18]:
l1=list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Find the length of a list without using the `len()` function.

In [20]:
l1=[1,2,3,4,5,6,7,8,9,10,2,4,6,8,9,4,6,3,6,3,5,8,9,4,2]
count=0
for i in l1:
    count=count+1
print(count)

25

### Append an element to the end of a list.

In [21]:
l1=[1,2,3,4]
l1.append(5)
print(l1)

[1, 2, 3, 4, 5]

### Insert an element at a specific index in a list.

In [22]:
l1=[1,2,3,4]
l1.insert(1,5)
print(l1)

[1, 5, 2, 3, 4]

### Remove an element from a list by its value.

In [27]:
l1=[1,2,3,4,5,6,7,8,9]
l1.remove(9)
l1

[1, 2, 3, 4, 5, 6, 7, 8]

### Remove an element from a list by its index.

In [32]:
l1=[1,2,3,4,5,6,7,8,9]
l1.pop(4)
l1

[1, 2, 3, 4, 6, 7, 8, 9]

### Check if an element exists in a list.

In [36]:
l1=[1,2,3,4]
n=int(input())
if n in l1:
    print("exists")
else:
    print("not exists")

2
exists

### Find the index of the first occurrence of an element in a list.

In [37]:
l1=[1,2,3,4,5,6,7,8,9,2,3,4,5,6,7,8,9]
l1.index(2)

1

### Count the occurrences of an element in a list.

In [40]:
l1=[1,2,3,4,5,6,7,8,9,2,3,4,5,6,7,8,9]
def countOccurrence(l1):
  k = {}
  for j in l1:
    if j in k:
      k[j] +=1
    else:
      k[j] =1
  return k

print(countOccurrence(l1))

{1: 1, 2: 2, 3: 2, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

### Reverse the order of elements in a list.

In [41]:
l1=[1,2,3,4,5,6,7,8,9]
l1.reverse()
l1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Sort a list in ascending order.

In [5]:
l1=[2,4,5,7,9,45,32,1,3,46,89,46,90,34,98]
l1.sort()
l1

[1, 2, 3, 4, 5, 7, 9, 32, 34, 45, 46, 46, 89, 90, 98]

### Sort a list in descending order.

In [6]:
l1=[2,4,5,7,9,45,32,1,3,46,89,46,90,34,98]
l1.sort(reverse=True)
l1

[98, 90, 89, 46, 46, 45, 34, 32, 9, 7, 5, 4, 3, 2, 1]

### Create a list of even numbers from 1 to 20.

In [9]:
l1=[]
for i in range(1,21):
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Create a list of odd numbers from 1 to 20.

In [10]:
l1=[]
for i in range(1,21):
    if i%2!=0:
        l1.append(i)
print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Find the sum of all elements in a list.

In [12]:
l1=[2,4,6,8,4,7,4,3,7,9,4,3,6,84,43,34,7,8,9,8,8,98]
sum=0
for i in l1:
    sum=sum+i
print(sum)

366

### Find the maximum value in a list.

In [13]:
l1=[2,4,6,8,4,7,4,3,7,9,4,3,6,84,43,34,7,8,9,8,8,98]
print(max(l1))

98

### Find the minimum value in a list.

In [14]:
l1=[2,4,6,8,4,7,4,3,7,9,4,3,6,84,43,34,7,8,9,8,8,98]
print(min(l1))

2

### Create a list of squares of numbers from 1 to 10.

In [15]:
l1=[]
for i in range(1,11):
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Create a list of random numbers.

In [22]:
import random
l1=[]
for i in range(1,5):
    n=random.randint(1,100)
    l1.append(n)
print(l1)

[5, 70, 20, 89]

### Remove duplicates from a list.

In [23]:
l1=[2,4,6,8,4,7,4,3,7,9,4,3,6,84,43,34,7,8,9,8,8,98]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[2, 4, 6, 8, 7, 3, 9, 84, 43, 34, 98]

### Find the common elements between two lists.

In [28]:
l1=[2,4,6,8,4,7,4,3,7,9,4,3,6,84,43,34,7,8,9,8,8,98]
l2=[2,3,5,7,5,7,8,4,3,6,8,3,6,8,3,6,8,3,7,2,5,7,8,92]
l3=[]
for i in l1:
    for j in l2:
        if i==j:
            if i not in l3:
                l3.append(i)
print(l3)

[2, 4, 6, 8, 7, 3]

### Find the difference between two lists.

In [35]:
l1=[2,4,6,8,4,7,4,3,7,9,4,3,6,84,43,34,7,8,9,8,8,98]
l2=[2,3,5,7,5,7,8,4,3,6,8,3,6,8,3,6,8,3,7,2,5,7,8,92]
l3=list(set(l1)-set(l2))
l3

[34, 98, 9, 43, 84]

### Merge two lists.

In [38]:
l1=[4,2,3,9]
l2=["abc","pwskills",24.34,98]
l1.extend(l2)
l1

[4, 2, 3, 9, 'abc', 'pwskills', 24.34, 98]

### Multiply all elements in a list by 2.

In [40]:
l1=[1,2,3,4,5,6,7,8,9]
l2=[]
for i in l1:
    l2.append(i*2)
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Filter out all even numbers from a list.

In [1]:
l1=[2,3,5,6,7,8,9]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)
print(l2)

[2, 6, 8]

### Convert a list of strings to a list of integers.

In [2]:
l1=['2','3','4','7',8,9]
l2=[]
for i in l1:
    l2.append(int(i))
print(l2)

[2, 3, 4, 7, 8, 9]

### Convert a list of integers to a list of strings.

In [3]:
l1=[3,4,5,3,5,7,8,9,3,4,5,6,7,8,9]
l2=[]
for i in l1:
    l2.append(str(i))
print(l2)

['3', '4', '5', '3', '5', '7', '8', '9', '3', '4', '5', '6', '7', '8', '9']

### Flatten a nested list.

In [5]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
l2=[]
for i in l1:
    for j in i:
        l2.append(j)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Create a list of the first 10 Fibonacci numbers.

In [1]:
n=10
n1, n2 = 0, 1
count = 0
if n <= 0:
   print("Please enter a positive integer")
elif n == 1:
   print("Fibonacci sequence upto",n,":")
   print(n1)
else:
   print("Fibonacci sequence:",end=" ")
   while count < n:
       print(n1,end=" ")
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

Fibonacci sequence: 0 1 1 2 3 5 8 13 21 34

### Check if a list is sorted.

In [18]:
l1=[2,3,4,5,6,7,8,9]
if l1==sorted(l1):
    print(True)
else:
    print(False)

True

### Rotate a list to the left by `n` positions.

In [3]:
l1=[1,2,3,4,5,6,7,8,9]
n=3
rotated_list=l1[n:]+l1[:n]
print(rotated_list)

[4, 5, 6, 7, 8, 9, 1, 2, 3]

### Rotate a list to the right by `n` positions.

In [5]:
l1=[1,2,3,4,5,6,7,8,9]
n=3
rotated_list_left=l1[n:]+l1[:n]
rotated_list_right=rotated_list_left[-3:]+rotated_list_left[:-3]
print(rotated_list_right)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Create a list of prime numbers up to 50.

In [9]:
l1=[]
for i in range(1,51):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            l1.append(i)
print(l1)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### Split a list into chunks of size `n`.

In [15]:
def split(list_a, chunk_size):

  for i in range(0, len(list_a), chunk_size):
    yield list_a[i:i + chunk_size]

chunk_size = 2
my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

### Find the second largest number in a list.

In [3]:
l1=[1,2,3,4,5]
l1.sort()
print(l1[-2])

4

### Replace every element in a list with its square.

In [7]:
l1=[1,2,3,4,5]
l1 = list(map(lambda x: x**2, l1))
print(l1)

[1, 4, 9, 16, 25]

### Convert a list to a dictionary where list elements become keys and their indices become values.

In [10]:
lst=[1,2,3,4,5]
dict(zip(lst, range(len(lst))))

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

### Shuffle the elements of a list randomly.

In [81]:
import random
my_list = [1, 2, 3, 4, 5]  
random.shuffle(my_list)
print(my_list)

[1, 3, 2, 5, 4]

### Create a list of the first 10 factorial numbers.

In [82]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

first_10_factorials = [factorial(i) for i in range(10)]
print(first_10_factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### Check if two lists have at least one element in common.

In [83]:
def have_common_element(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return len(set1.intersection(set2)) > 0

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

if have_common_element(list1, list2):
    print("The lists have at least one element in common.")
else:
    print("The lists do not have any element in common.")

The lists have at least one element in common.

### Remove all elements from a list.

In [85]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

###  Replace negative numbers in a list with 0.

In [87]:
my_list = [1, -2, 3, -4, 5, -6]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print(my_list)

[1, 0, 3, 0, 5, 0]

### Convert a string into a list of words.

In [88]:
text = "This is a sample string."
word_list = text.split()
print(word_list)

['This', 'is', 'a', 'sample', 'string.']

### Convert a list of words into a string.

In [89]:
word_list = ["Apple", "Orange", "Banana", "Grape"]
text = ",".join(word_list)
print(text)

Apple,Orange,Banana,Grape

### Create a list of the first `n` powers of 2.

In [90]:
n = 5  
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

###  Find the longest string in a list of strings.

In [91]:
string_list = ["apple", "banana", "cherry", "date", "fig", "grape"]

longest_string = ""
max_length = 0

for string in string_list:
    if len(string) > max_length:
        longest_string = string
        max_length = len(string)

print("The longest string is:", longest_string)

The longest string is: banana

### Find the shortest string in a list of strings.

In [92]:
string_list = ["apple", "banana", "cherry", "date", "fig", "grape"]

shortest_string = None
min_length = float('inf') 

for string in string_list:
    if len(string) < min_length:
        shortest_string = string
        min_length = len(string)

print("The shortest string is:", shortest_string)

The shortest string is: fig

### Create a list of the first `n` triangular numbers.

In [93]:
def generate_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        number = (i * (i + 1)) // 2
        triangular_numbers.append(number)
    return triangular_numbers

n = 5  
triangular_numbers_list = generate_triangular_numbers(n)
print(triangular_numbers_list)

[1, 3, 6, 10, 15]

### Check if a list contains another list as a subsequence.

In [94]:
def is_subsequence(subsequence, main_list):
    i, j = 0, 0

    while i < len(subsequence) and j < len(main_list):
        if subsequence[i] == main_list[j]:
            i += 1
        j += 1

    return i == len(subsequence)

main_list = [1, 2, 3, 4, 5, 6, 7]
subsequence = [3, 4, 5]

if is_subsequence(subsequence, main_list):
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

### Swap two elements in a list by their indices.

In [95]:
def swap_elements_by_indices(input_list, index1, index2):
    if 0 <= index1 < len(input_list) and 0 <= index2 < len(input_list):
        # Swap the elements at index1 and index2
        temp = input_list[index1]
        input_list[index1] = input_list[index2]
        input_list[index2] = temp
    else:
        print("Indices are out of range.")

my_list = [1, 2, 3, 4, 5]
swap_elements_by_indices(my_list, 1, 3)

print(my_list)

[1, 4, 3, 2, 5]

### Tuple Based Practice Problem :

In [1]:
# Create a tuple with integers from 1 to 5.
t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [2]:
# Access the third element of a tuple.
t1=(1,2,3,4,5)
print(t1[2])

3

In [3]:
# Find the length of a tuple without using the `len()` function.
t1=(1,2,3,4,5)
print(len(t1))

5

In [4]:
# Count the occurrences of an element in a tuple.
t1=(1,2,3,4,5,2,3,4,5)
print(t1.count(2))

2

In [5]:
# Find the index of the first occurrence of an element in a tuple.
t1=(1,2,3,4,5)
print(t1.index(2))

1

In [10]:
# Check if an element exists in a tuple.
t1=(1,2,3,4,5,6,7,8,9)
t2=int(input())
if t2 in t1:
        print(True)
else:
        print(False)

9
True

In [11]:
# Convert a tuple to a list.
t1=(1,2,3,4,5)
l1=list(t1)
print(l1)

[1, 2, 3, 4, 5]

In [12]:
# Convert a list to a tuple.
l1=[1,2,3,4,5,6,7,8,9]
t1=tuple(l1)
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
# Unpack the elements of a tuple into variables.
t1=(1,2,3,4,5)
a,b,c,d,e=t1
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [15]:
# Create a tuple of even numbers from 1 to 10.
l1=[]
for i in range(1,11):
    if i%2==0:
        l1.append(i)
t1=tuple(l1)
print(t1)

(2, 4, 6, 8, 10)

In [17]:
# Create a tuple of odd numbers from 1 to 10.
l1=[]
for i in range(1,11):
    if i%2!=0:
        l1.append(i)
t1=tuple(l1)
print(t1)

(1, 3, 5, 7, 9)

In [19]:
# Concatenate two tuples.
t1=(1,2,3,4,5)
t2=(6,7,8,9)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
# Repeat a tuple three times.
t1=(1,2,3,4,5)
print(t1*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [21]:
# Check if a tuple is empty.
t1=()
if len(t1)==0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [23]:
# Create a nested tuple.
t1=(1,2,3,4)
t2=(5,6,7,8,9)
t3=((t1),(t2))
print(t3)

((1, 2, 3, 4), (5, 6, 7, 8, 9))

In [24]:
# Access the first element of a nested tuple.
t1=(1,2,3,4)
t2=(5,6,7,8,9)
t3=((t1),(t2))
print(t3[0][0])

1

In [25]:
# Create a tuple with a single element.
t1=(2,)
print(t1)

(2,)

In [26]:
# Compare two tuples.
t1=(2,3,4,5)
t2=(6,7,8,9,1,2,3,4,5)
print(t1<t2)

True

In [29]:
# Delete a tuple.
t1=(1,2,3,4,5)
del t1

In [30]:
# Slice a tuple.
t1=(1,2,3,4,5)
print(t1[1:])

(2, 3, 4, 5)

In [1]:
# Find the maximum value in a tuple.
t1=(1,2,3,4,5)
print(max(t1))

5

In [2]:
# Find the minimum value in a tuple.
t1=(1,2,3,4,5)
print(min(t1))

1

In [3]:
# Convert a string to a tuple of characters.
l1=[]
s1="abc"
for i in s1:
    l1.append(i)
t1=tuple(l1)
print(t1)

('a', 'b', 'c')

In [7]:
# Convert a tuple of characters to a string.
t1=('a', 'b', 'c')
for i in t1:
    s1=" ".join(i)
print(s1)

c

In [8]:
# Create a tuple from multiple data types.
t1=(1,2,"abc","pqr",2.3,4.5)
print(t1)

(1, 2, 'abc', 'pqr', 2.3, 4.5)

In [9]:
# Check if two tuples are identical.
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)
if t1==t2:
    print("tuple are identical")
else:
    print("tuple are not identical")

tuple are identical

In [19]:
# Sort the elements of a tuple.
t1=(5,8,9,3,4,2,1)
t2=tuple(sorted(t1))
print(t2)

(1, 2, 3, 4, 5, 8, 9)

In [25]:
# Convert a tuple of integers to a tuple of strings.
t1=(1,2,3,4,5)
l1=[]
for i in t1:
    l1.append(str(i))
print(l1)

['1', '2', '3', '4', '5']

In [24]:
# Convert a tuple of strings to a tuple of integers.
t1=('1','2','3','4','5')
l1=[]
for i in t1:
    l1.append(int(i))
print(l1)

[1, 2, 3, 4, 5]

In [26]:
# Merge two tuples.
t1=(1,2,3,4,5)
t2=(6,7,8,9)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
# Flatten a nested tuple.
l1=((1,2,3),(4,5,6),(7,8,9))
l2=[]
for i in l1:
    for j in i:
        l2.append(j)
print(tuple(l2))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# Create a tuple of the first 5 prime numbers.

In [29]:
# Check if a tuple is a palindrome.
t1=(1,2,3,4,5,5,4,3,2,1)
t2=t1[::-1]
if t1==t2:
    print("tuple is palindrome")
else:
    print("tuple is not palindrome")

tuple is palindrome

In [31]:
# Create a tuple of squares of numbers from 1 to 5.
t1=(1,2,3,4,5)
t2=[]
for i in t1:
    t2.append(i**2)
print(tuple(t2))

(1, 4, 9, 16, 25)

In [33]:
# Filter out all even numbers from a tuple.
t1=(1,2,3,4,5,6,7,8,9)
t2=[]
for i in t1:
    if i%2==0:
        t2.append(i)
print(tuple(t2))

(2, 4, 6, 8)

In [35]:
# Multiply all elements in a tuple by 2.
t1=(1,2,3,4,5)
t2=[]
for i in t1:
    t2.append(i**2)
print(tuple(t2))

(1, 4, 9, 16, 25)

In [51]:
# Create a tuple of random numbers.
import random
nums = tuple(random.random() for _ in range(10))
print(nums)

(0.9474896435793367, 0.5719614124411895, 0.9616490218328161, 0.4909399490381785, 0.7709042865638096, 0.6718294862714703, 0.6435346928655726, 0.9961246486903322, 0.4260561980379721, 0.2599080802489321)

In [43]:
# Check if a tuple is sorted.
t1=(1,2,3,4,5)
t2=tuple(sorted(t1))
if t1==t2:
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is sorted

In [45]:
# Rotate a tuple to the left by `n` positions.
l1=(1,2,3,4,5,6,7,8,9)
n=3
rotated_tuple=l1[n:]+l1[:n]
print(rotated_tuple)

(4, 5, 6, 7, 8, 9, 1, 2, 3)

In [46]:
# Rotate a tuple to the right by `n` positions.
l1=[1,2,3,4,5,6,7,8,9]
n=3
rotated_tuple_left=l1[n:]+l1[:n]
rotated_tuple_right=rotated_tuple_left[-3:]+rotated_tuple_left[:-3]
print(rotated_tuple_right)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
# Create a tuple from user input.
n=input().split(",")
t1=tuple(n)
print(t1)

1,2,3,4,5
('1', '2', '3', '4', '5')

In [57]:
# Swap two elements in a tuple.
t1=(1,2)
t2=list(t1)
t2[0],t2[1]=t2[1],t2[0]
t3=tuple(t2)
print(t3)

(2, 1)

In [60]:
# Reverse the elements of a tuple.
t1=(1,2,3,4,5)
t2=list(t1)[::-1]
print(tuple(t2))

(5, 4, 3, 2, 1)

In [61]:
# Create a tuple of the first `n` powers of 2.
n = 5 
powers_of_2 = tuple(2 ** i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

In [71]:
# Find the longest string in a tuple of strings.
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")
max_len = -1
for ele in string_tuple:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele
print("The longest string is:", ele)

The longest string is: elderberry

In [77]:
# Find the shortest string in a tuple of strings.
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")
res = min(string_tuple, key=len)
print("The shortest string is:", res)

The shortest string is: date

In [78]:
# Create a tuple of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
    return triangular_numbers

n = 5  
triangular_numbers_tuple = generate_triangular_numbers(n)
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [79]:
# Check if a tuple contains another tuple as a subsequence.
def is_subsequence(sub, main):
    sub_len = len(sub)
    main_len = len(main)

    # Handle special cases
    if sub_len == 0:
        return True
    if sub_len > main_len:
        return False

    for i in range(main_len - sub_len + 1):
        if main[i:i + sub_len] == sub:
            return True

    return False

# Example usage:
main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

if is_subsequence(sub_tuple, main_tuple):
    print("The sub_tuple is a subsequence of main_tuple.")
else:
    print("The sub_tuple is not a subsequence of main_tuple.")

The sub_tuple is a subsequence of main_tuple.

In [80]:
# Create a tuple of alternating 1s and 0s of length `n`.
n = 10 
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

### Set Based Practice Problem :

In [96]:
# Create a set with integers from 1 to 5.
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [98]:
# Add an element to a set.
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [99]:
# Remove an element from a set.
s={1,2,3,4,5}
s.remove(2)
print(s)

{1, 3, 4, 5}

In [100]:
# Check if an element exists in a set.
s={1,2,3,4,5}
if 2 in s:
    print("exist")
else:
    print("not exist")

exist

In [102]:
# Find the length of a set without using the `len()` function.
def find_set_length(input_set):
    count = 0
    for _ in input_set:
        count += 1
    return count

my_set = {1, 2, 3, 4, 5}
set_length = find_set_length(my_set)

print("Length of the set:", set_length)

Length of the set: 5

In [103]:
# Clear all elements from a set.
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [104]:
# Create a set of even numbers from 1 to 10.
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [105]:
# Create a set of odd numbers from 1 to 10.
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [107]:
# Find the union of two sets.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [109]:
# Find the intersection of two sets.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3, 4}

In [110]:
# Find the difference between two sets.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
difference_set = set1 - set2
print(difference_set)

{1, 2}

In [112]:
# Check if a set is a subset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [113]:
# Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

In [114]:
# Create a set from a list.
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [115]:
# Convert a set to a list.
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [116]:
# Remove a random element from a set.
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [117]:
# Pop an element from a set.
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [118]:
# Check if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one element in common.")

The sets have no elements in common.

In [119]:
# Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{1, 2, 5, 6}

In [120]:
# Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

In [121]:
# Create a set of the first 5 prime numbers.
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

In [122]:
# Check if two sets are identical.
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [123]:
# Create a frozen set.
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [124]:
# Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
if are_disjoint:
    print("The sets are disjoint (have no common elements).")
else:
    print("The sets are not disjoint (have common elements).")

The sets are disjoint (have no common elements).

In [125]:
# Create a set of squares of numbers from 1 to 5.
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [127]:
# Filter out all even numbers from a set.
my_set = {1, 2, 3, 4, 5, 6, 7, 8}
filtered_set = {x for x in my_set if x % 2 == 0}
print(filtered_set)

{8, 2, 4, 6}

In [128]:
# Multiply all elements in a set by 2.
my_set = {1, 2, 3, 4, 5}
doubled_set = {x * 2 for x in my_set}
print(doubled_set)

{2, 4, 6, 8, 10}

In [129]:
# Create a set of random numbers.
import random
random_set = set()
for _ in range(10):  # Generate 10 random numbers
    random_number = random.randint(1, 100)  # Generate random integers between 1 and 100 (adjust the range as needed)
    random_set.add(random_number)
print(random_set)

{35, 42, 11, 47, 51, 19, 24, 90, 60, 93}

In [130]:
# Check if a set is empty.
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [131]:
# Create a nested set (hint: use frozenset).
nested_set = {1, 2, frozenset({3, 4}), 5}
print(nested_set)

{frozenset({3, 4}), 1, 2, 5}

In [132]:
# Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
my_set.discard(6)
print(my_set)

{1, 2, 4, 5}

In [134]:
# Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}
is_subset = set2.issubset(set1)
is_subset_operator = set2 <= set1
print("Using issubset():", is_subset)
print("Using <=:", is_subset_operator)

Using issubset(): True
Using <=: True

In [135]:
# Create a set from a string.
my_string = "hello world"
my_set = {char for char in my_string}
print(my_set)

{'o', 'h', ' ', 'w', 'd', 'r', 'e', 'l'}

In [136]:
# Convert a set of strings to a set of integers.
set_of_strings = {"1", "2", "3", "4", "5"}

set_of_integers = {int(s) for s in set_of_strings}

print(set_of_integers)

{1, 2, 3, 4, 5}

In [137]:
# Convert a set of integers to a set of strings.
set_of_integers = {1, 2, 3, 4, 5}

set_of_strings = {str(i) for i in set_of_integers}

print(set_of_strings)

{'4', '2', '5', '3', '1'}

In [138]:
# Create a set from a tuple.
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

In [139]:
# Convert a set to a tuple.
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

In [158]:
# Create a set from user input.
user_set = set()

while True:
    user_input = input("Enter an element (or 'done' to finish): ")
    
    if user_input.lower() == 'done':
        break
    
    user_set.add(user_input)

print("User's set:", user_set)

Enter an element (or 'done' to finish): 1
Enter an element (or 'done' to finish): 2
Enter an element (or 'done' to finish): 3
Enter an element (or 'done' to finish): 4
Enter an element (or 'done' to finish): 5
Enter an element (or 'done' to finish): done
User's set: {'4', '2', '5', '3', '1'}

In [157]:
# Check if the intersection of two sets is empty.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets have no common elements (intersection is empty).")
else:
    print("The sets have common elements (intersection is not empty).")

The sets have no common elements (intersection is empty).

In [156]:
# Create a set of the first 5 Fibonacci numbers.
n = 5  

def generate_fibonacci(n):
    fibonacci = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci.add(a)
        a, b = b, a + b
    return fibonacci

fibonacci_set = generate_fibonacci(n)

print(fibonacci_set)

{0, 1, 2, 3}

In [155]:
# Remove duplicates from a list using sets.
my_list = [1, 2, 2, 3, 4, 4, 5, 5]


unique_list = list(set(my_list))

print(unique_list)

[1, 2, 3, 4, 5]

In [154]:
# Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}


have_same_elements = not bool(set1.symmetric_difference(set2))

if have_same_elements:
    print("The sets have the same elements, regardless of count.")
else:
    print("The sets do not have the same elements, regardless of count.")

The sets have the same elements, regardless of count.

In [153]:
# Create a set of the first `n` powers of 2.
n = 5 

powers_of_2 = {2 ** i for i in range(n)}

print(powers_of_2)

{1, 2, 4, 8, 16}

In [152]:
# Find the common elements between a set and a list.
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)
print(common_elements)

{3, 4, 5}

In [151]:
# Create a set of the first `n` triangular numbers.
n = 5  

triangular_numbers = {(i * (i + 1)) // 2 for i in range(1, n + 1)}

print(triangular_numbers)

{1, 3, 6, 10, 15}

In [150]:
# Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [149]:
# Create a set of alternating 1s and 0s of length `n`.
n = 10  
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

In [147]:
# Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}